/*Universal Styles*/
div {
  border: 1px solid black;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(153, 153, 153);
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: rgb(74, 74, 74);
}

h1 {
  font-size: 3.0rem;
}

h3 {
  font-size 2.0rem;
}
.flex {
  display: flex;
}

.active {
  background-color: rgb(216, 216, 216);
}

.smallPic img {
  width: 35%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

/*Header Section*/
header {
  background-color: white;
  width: 100%;
}

nav {
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  height: 32px;
  justify-content: center;
  align-items: center;
}

.colmar {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 16px;
  color: rgb(74, 74, 74);
}

.banner {
  padding: 32px 24px;
  background-color: rgb(216, 216, 216);
}



.bannerImage img {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 60%;
}

.bannerCta {
  margin-left: 24px;
  width: 20%;
}

.bannerCtaBtn {
  color: white;
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 8px;
}

/*Information Section*/

.infoBar {
  width: 40%;
}

.sideInfoText {
  width: 65%;
}

/*Courses Section*/
.coursesMain {
  background-color: rgb(216, 216, 216);
  padding-left: 72px;
  padding-right: 72px;
}

.coursesMain h1 {
  text-align: center;
}

.courseContain {
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
    flex: 1;
    padding: 2rem;
    background-color: white;
  }

.course .courseImage {
  height: auto;
  width: 33%;
  margin: 0 auto;
}

.courseImage img {
  display: block;
  max-width: 100%;
}

.courseText {
  background-color: rgb(255, 255, 255);
  padding: 16px 16px 24px 16px;
}

.courseText p {
  margin-top: 8px;
}


/*Exhibit Section*/
.exhibit h1 {
  text-align: center;
}

.exhibitBar {
  width: 40%;
}

/*Footer Section*/

footer {
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
}

footer nav ul {
  display: flex;
}

footer nav ul li {
  padding-left: 16px;
  color: rgb(74, 74, 74);
}
