/*Universal Styles*/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(153, 153, 153);
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: rgb(74, 74, 74);
  font-family: 'Source Sans Pro Bold', sans-serif;
}

h1 {
  font-size: 3.0rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: rgb(74, 74, 74);
  text-decoration: none;
}
.flex {
  display: flex;
}

@media only screen and (max-width : 450px) {
  h1 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

/*Sidebar Styles (Universal)*/

.sideBar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sideBarText {
  width: 65%;
  flex: 2;
}

.sideBarText p {
  margin: 8px 0;
}

.sideBarText a {
  color: rgb(96, 157, 228);
}

.smallPic {
  width: 35%;

  padding: 16px;
  flex: 1;
}

.smallPic img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  background-color: rgb(216, 216, 216);
}

.mobileSmallPic {
  display: none;
}

@media only screen and (max-width : 450px) {

  .smallPic {
    width: 100%;
    padding: 0;
  }

  .smallPic img {
    padding: 16px;
  }

  .desktopSmallPic {
    display: none;
  }

  .mobileSmallPic {
    display: block;
  }

}

/*Header Section*/
header {
  background-color: white;
  width: 100%;
}

nav {
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
}

a .logo {
  display: inline-flex;
  height: 32px;
  justify-content: center;
  align-items: center;
}

a .colmar {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

a .academy {
  color: rgb(153, 153, 153);
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 16px;
  color: rgb(74, 74, 74);
}

nav .navIcons {
  align-items: center;
  justify-content: center;
  align-content: space-between;
  display: none;
}

.banner {
  padding: 32px 0px;
  background-color: rgb(216, 216, 216);
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.bannerImage {
  width: 60%;
}

.bannerImage img {
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  padding-left: 24px;
}

.bannerCta {
  margin-left: 24px;
  width: 20%;
  height: auto;
  align-content: center;
  justify-content: center;
}

.bannerCtaText h1 {
  margin: 15px 0;
}

.bannerCtaText h3 {
  margin: 25px 0;
}

.bannerCtaBtn {
  background-color: rgb(74, 74, 74);
  text-align: center;
  padding: 8px;
}

.bannerCtaBtn a {
  color: white;
}

@media only screen and (max-width : 450px) {

  a .logo {
    display: none;
  }

  nav .navLinks {
    display: none;
  }

  nav .navIcons {
    display: flex;
    width: 100%;
  }

  nav .navIcons li {
    align-content: space-between;
  }

  .banner {
    flex-direction: column;
    padding: 0;

  }

  .bannerImage {
    width: 100%;
  }

  .bannerImage img {
    padding: 0;
  }

  .bannerCta {
    width: 100%;
    padding: 0;
  }

  .bannerCtaText {
    padding: 32px 16px;
  }

  .bannerCtaText h3 {
    margin: 32px 0 24px 0;
  }

  .bannerCtaBtn {
    background-color: rgb(155, 155, 155);
  }

}

/*Information Section*/

.mainInfo {
  padding: 32px 24px;
  width: 60%;
  border-right: 1px solid lightgray;
}

.mainInfoImg img {
  max-width: 100%;
  max-height: 100%;
}

.mainInfoText h1 {
  margin: 32px 0px 24px 0px;
}

.quoteSource {
  margin-top: 24px;
  color: black;
}

.infoBar {
  width: 40%;
  padding-top: 16px;
}

.infoBar .sideBar {
  border-bottom: 1px solid lightgray;
}

.sideBarText {
  width: 65%;
}

.bottom {
  margin-bottom: 32px;
}

@media only screen and (max-width : 450px) {

  .mainInfo {
    display: none;
  }

  .infoBar {
    width: 100%;
    border-bottom: 1px solid lightgray;
  }

  .sideBar {
    flex-direction: column;
  }

  .infoBar .sideBar {
    border: none;
  }

}

/*Courses Section*/
.coursesMain {
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.coursesMain h1 {
  text-align: center;
  padding: 32px 0px 16px 0px;
}

.courseContain {
  justify-content: space-between;
  padding: 0 72px;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: flex-end;
}

.course {
  margin: 16px;
  width: 30%;
  background-color: white;
}

.course img {
  max-width: 100%;
  max-height: 100%;
  background-size: cover;

}

.courseText {
  padding: 16px 16px 40px 16px;
  background-color: rgb(255, 255, 255);
}

.computer {
  padding: 16px 16px 24px 16px;
}

.courseText p {
  margin-top: 8px;
}

@media only screen and (max-width : 450px) {

  .coursesMain {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid lightgray;
    padding-bottom: 24px;
   }

   .coursesMain h1 {
     padding: 32px 0px 8px 0px
   }

  .course {
    width: 100%;
    margin: 4px 0px;
  }

  .course img {
    display: none;
  }

  .courseText {
    width: 100%;
    background-color: rgb(216, 216, 216);
    padding: 16px 16px 24px 16px;
  }

  .courseText p {
    display: none;
  }

  .courseContain {
    padding: 0 16px;
    flex-direction: column;
  }

}

/*Exhibit Section*/
.exhibit {
  margin-bottom: 32px;
}

.exhibit h1 {
  text-align: center;
  margin: 32px 0;
}

.exhibitVideoSection {
  width: 60%;
  padding: 0 24px;
}

.exhibitVideoText h3 {
  margin: 24px 0px 8px 0px;
}

.exhibitBar {
  width: 40%;
}

@media only screen and (max-width : 450px) {

  .exhibit {
    margin: 0;
  }

  .exhibitBar {
    display: none;
  }

  .exhibit h1 {
    margin: 32px 0px 16px 0px;
  }

  .exhibitVideoSection {
    width: 100%;
    padding: 0;
  }

  .exhibitVideoText {
    display: none;
  }

}

/*Footer Section*/

footer {
  padding: 16px 24px;
  margin-bottom: 16px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid lightgray;
}

footer ul {
  display: flex;
}

footer ul li {
  padding-left: 16px;
  color: rgb(74, 74, 74);
}

@media only screen and (max-width : 450px) {

  footer {
    margin: 24px 0 0 0;
    padding: 0 16px;
  }

  footer span {
    margin: 16px 0;
  }

  footer .footLinks{
    display: none;
  }
}
